.card {
	width: 31.875rem;
	height: 30.9375rem;
	
	&__header {

	}
	&__text {
		width: 60%;
		padding-left: .9375rem;
	}
	&__img {
		width: 5.625rem;
		height: 5.625rem;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}