.cardGoods {
	background: url('../images/Squircle.png');
	width: 680px;
	height: 1131px;
	margin-bottom: 155px;
	&__img {
		
		& img {
			width: 80%;
			// height: 100%;
		}
	}
	&__title {
		width: 100%;
	}
	&__price {
		width: 100%;
	}
}

