.modalForm {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	&__container {
		margin: 0 auto;
		transform: translate(0%, 7%);
		width: 67.44%;
		height: 800px;
		border-radius: 20px;
		box-shadow: inset 0px 0px 15px 5px $color-halfWhite;
	}
	&__title {
		padding-bottom: 20px;
	}
	&__subtitle {
		padding-bottom: 40px;
	}
	&__form {
		width: 82.32%;
		& input {
			width: 100%;
			border-radius: 10px;
			border: none;
			padding: 28.5px 20px;
			margin: 10px 0px 33px 0px;
		}
	}
	&__agreement {
		width: 100%;
		height: 45px;
		& input {
			flex-basis: 45px;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			margin: 0!important;
		}
		& label {
			margin-left: 15px;
		}
	}
	&__button {
		margin-top: 20px;
	}
}
