.cardGoods {
	background-color: $color-main;
	width: 680px;
	height: 1131px;
	border-radius: 69px;
	&__img {

	}
	&__title {

	}
	&__price {

	}
}

@supports (mask-image: paint(smooth-corners)) {
	.cardGoods {
		border-radius: 0;
		mask-image: paint(smooth-corners);
		--smooth-corners: 4;
	}
}