doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet")
		//- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a0c85176-3d3f-4f78-a099-5ae09fb86fcd&onload=myMap" type="text/javasctript")
		//- script(type="text/javascript").
		//- 	function myMap(ymaps) {
		//- 		var myMap = new ymaps.Map("map", {
		//- 			center: [55.87, 37.66],
		//- 			zoom: 10
		//- 		});
		//- 	};
		title= htmlWebpackPlugin.options.title
	body
		block content
		