section.features.flex.flex-j-c-c.p-y-150.bg-features
	.wrapper-features.flex.flex-j-c-sb
		include ../components/card.pug
		+card(
			'../../../assets/images/price.png',
			'Выгодные цены',
			'Самые выгодные цены во всем сегменте',
			'Наша компания всегда старается предоставлять самые низкие цены на рынке.',
			'border-left border-top'	
		)
		+card(
			'../../../assets/images/warranty.png',
			'Гарантия качества',
			'Товары с гарантией от производителя',
			'На все оборудование действует гарантия 5 лет.',
			'border-top'
		)
		+card(
			'../../../assets/images/period.png',
			'Всегда в срок',
			'Работаем всегда оперативно',
			'Мы всегда доставим ваш заказ в назначеную дату.',
			'border-top border-right'
		)