section.goods
	h3.goods__title.font-bigTitle НАШИ ТОВАРЫ
	include ../mixins/cardGoods.pug
	+cardGoods(
		'../../../assets/images/atlant-st.png',
		'Шнековый обезжириватель',
		'"АТЛАНТ-СТ"',
		'ОТ 400 000 РУБЛЕЙ'
	)
	+cardGoods(
		'../../../assets/images/atlant-bs.png',
		'Барабанное сито',
		'"АТЛАНТ-СБ"',
		'ОТ 300 000 РУБЛЕЙ'
	)
	+cardGoods(
		'../../../assets/images/atlant-sf.png',
		'Флотатор',
		'"АТЛАНТ-СФ"',
		'ОТ 400 000 РУБЛЕЙ'
	)
	+cardGoods(
		'../../../assets/images/atlant-ng.png',
		'Шнековая решетка',
		'"АТЛАНТ-НЖ"',
		'ОТ 800 000 РУБЛЕЙ'
	)