.footer {
	position: relative;
	height: 90vh;
	&__map {
		height: 850px;
	}
	&__contacts {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 71.25%;
		height: 310px;
		border-radius: 20px;
	}
}