.header {
	height: 100vh;
	background: url('../images/bg-header-img.jpg');
	background-color: rgba(53, 54, 90, .69);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
}