// Font
.font {
	&-title {
	font-family: $font-main;
	font-size: 2.25rem;
	}
	&-bigTitle {
		font-family: $font-main;
		font-size: 5rem;
	}
	&-halfBigTitle {
		font-family: $font-main;
		font-size: 4rem;
	}
	&-midTitle {
		font-family: $font-main;
		font-size: 3rem;
	}
	&-lowTitle {
		font-family: $font-main;
		font-size: 1.875rem;
	}
	&-bigText {
		font-family: $font-main;
		font-size: 1.625rem;
	}
	&-midText {
		font-family: $font-main;
		font-size: 2.25rem;
	}
	&-lowText {
		font-family: $font-main;
		font-size: 1.1875rem;
	}
	&-lowerText {
		font-family: $font-main;
		font-size: 1.125rem;
	}
	&-bigLh {
		line-height: 209.5%;
	}
}

// Colors
.color {
	&-main {
		color: $color-main;
	}
	&-secondary {
		color: $color-secondary;
	}
}

// Backgrounds
.bg {
	&-main {
		background-color: $color-main;
	}
	&-secondary {
		background-color: $color-secondary;
	}
	&-features {
		background-color: $color-other;
	}
}

// Flex
.flex {
	display: flex;
	&-d {
		&-c {
			flex-direction: column;
		}
	}
	&-j-c {
		&-c {
			justify-content: center;
		}
		&-sb {
			justify-content: space-between;
		}
		&-sa {
			justify-content: space-around;
		}
	}
	
	&-a-i-c {
		align-items: center;
	}
	&-a-i-s {
		align-items: start;
	}
	&-a-i-str {
		align-items: stretch;
	}
	&-w-w {
		flex-wrap: wrap;
	}
	&-a-s-s {
		align-self: flex-start;
	}
}

// Wrappers
.wrapper {
	&-main {
		width: 90%;
		position: relative;
	}
	&-features {
		width: 90%;
	}
	&-card {
		padding: 20px;
	}
	&-goods {
		width: 90%;
	}
	&-goodsCard {
		padding: 45px;
		background: url('../images/inner-Squircle.png');
		background-position: center;
		height: 99%;
		width: 99%;
	}
}

// Paddings 
.p {
	&-b-30 {
		padding-bottom: 30px;
	}
	&-b-85 {
		padding-bottom: 85px;
	}
	&-y-150 {
		padding: 150px 0px;

	}
}

// Borders
.border {
	&-left {
		border-left: 9.5px solid $color-main;
	}
	&-top {
		border-top: 9.5px solid $color-main;
	}
	&-right {
		border-right: 9.5px solid $color-main;
	}
	&-all {
		border: 9.5px solid $color-main;
	}
}
.shadow {
	box-shadow: 0px 30px 89px -10px rgba(0, 0, 0, .25);
}

// Other
button {
	cursor: pointer;
}
.card-order {
	order: 2;
}