mixin card(img, title, subtitle, description, border)
	div(class="card shadow " + border)
		.wrapper-card
			.card__header.flex.p-b-85
				.card__img
					img(src= img, alt="")
				.card__text.flex.flex-d-c.flex-j-c-sb
					h3.card__title.font-lowTitle= title
					p.card__subtitle.font-lowText= subtitle
			.card__description
				p.font-bigText.font-bigLh= description