.contactsCard.flex.flex-j-c-sa
	.wrapper-contactsCard#button
		.contactsCard__icon.flex.flex-j-c-c.flex-a-i-c
			img(src= require('../../images/call-icon.png') alt="Контактный номер телефона")
		p.contactsCard__description.font-midText.color-secondary 8 (485) 260-61-32
	.wrapper-contactsCard
		.contactsCard__icon.flex.flex-j-c-c.flex-a-i-c
			img(src= require('../../images/location-icon.png') alt="Местонахождения")
		p.contactsCard__description.font-midText.color-secondary ул. Декабристов 9А