div.logotype.flex.flex-a-i-c
	.logotype__img.flex.flex-a-i-c.flex-j-c-c
		img(src=require("../../images/logotype.png") alt="Logotype")
	p.logotype__title.font-title.color-secondary Компания "АТЛАНТ-СК"