.offer.flex.flex-j-c-sb
	.offer__text
		h1.offer__title.font-bigTitle.color-secondary Флотатор 
		h1.offer__title.font-bigTitle.color-secondary.p-b-30 со скидкой 15% 
		include buttonOffer.pug
	.offer__img
		img(src=require("../../images/img-offer.png") alt="Флотатор")