mixin cardGoods(img, title, model, price)
	div.cardGoods
		.wrapper-card
			.cardGoods__img
				img(src= img, alt="")
			.cardGoods__title
				h3.font-midTitle= title
				h3.font-midTitle= 'Модель: ' + model
			.cardGoods__price
				p.font-midTitle= price
			.cardGoods__button
				button.buttonOffer.bg-secondary.font-midTitle.color-main Заказать